@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #020617;
  color: white;
  scroll-behavior: smooth;
}

/* smooth scroll for anchor links */
html {
  scroll-behavior: smooth;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

/* text selection color */
::selection {
  background: #3b82f633;
  color: #93c5fd;
}